<div class="col-10 offset-1 about">
  <h1> About Splurty</h1>

  <p>
    Splurty was built by <a target="_blank" href="https://github.com/michloud/Awesome-code">Michele Louden</a>, a highly skilled web developer providing valued services to clients.
  </p>
  <br />
  <p>
  Michele was certified through the University of Central Florida's Coding Bootcamp Program 2019-2020, where she acquired the skills and resources to build a solid coding portfolio.
  </p>
  <p>
    If you want to learn how to code - start <a target="_blank" href="https://online.bootcampspot.com"> here</a>.
  </p>

  <div class="row">
    <div class="col-12 col-sm-4">
      <%= image_tag 'ml.JPG', class: 'img-fluid' %>
  </div>

  <div class="col-12 col-sm-7 offset-sm-1">
    <h2 class="text-center">Michele Louden</h2>
    <br />
    <p>
      Michele Louden is an avid photographer who moved on from a successful career as a Senior Leader in Human Resources to an exciting journey into web development.
    </p>
  </div>

</div>
<br class="clear" />
<br />
<br />
<br />
<br />